.Home-Page-Hero{
  display: flex;
  flex-direction: column;
}


.hero-section {
    position: relative;
    background-image: url('../../Images/Trehytte\ i\ vinter.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: self-end;
    color: #fff;
  }
 