.create-venue-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-venue-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-venue-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-venue-form label {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .create-venue-form input,
  .create-venue-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .create-venue-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-venue-form button:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 10px;
    color: #28a745; /* Better success green */
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
  