.hero-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100vh;
}

.hero-search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgb(109 75 75);
  margin-bottom: 10rem;
  width: 70%;
}

.hero-search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 40px;
}

.hero-search-button {
  background-color: #f44336; /* Red color matching the button in the image */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.hero-search-button:hover {
  background-color: #d32f2f; /* Slightly darker red for hover effect */
}

.hero-search-button:focus {
  outline: none;
}

.hero-search-input::placeholder {
  color: #ccc;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .hero-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100vh;
  }
  
  .hero-search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgb(109 75 75);
    margin-bottom: 0rem;
    width: 100%;
  }
}
  