.search-container {
    position: relative;
    margin-top: 10px;
  }
  
  .search-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    z-index: 10;
  }
  
  .search-result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }
  
  .search-result-item:last-child {
    border-bottom: none;
  }
  
  .search-result-item:hover {
    background-color: #f0f0f0;
  }

  .search-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
  