.home-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .venue-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .venue-image-container {
    position: relative;
  }
  
  .venue-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .sorting-container {
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 10;
    margin-bottom: 20px;
    align-content: center;
    gap: 10px;
  }

  label{
    align-self: center;
  }
  
  .sorting-container select {
    padding: 5px 10px;
    font-size: 1rem;
    min-width: 150px;
  }
  
  .venue-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }
  
  .venue-card{
    width: 300px;
  }

  .venue-card h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
  }
  
  .venue-card p {
    margin: 5px 0;
    color: #555;
  }
  
  
  
  
  