.home-home-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.home-home-page-wrapper{
  max-width: 1128px;
}
  
  h1 {
    font-size: 64px;
    padding: 12px;
  }
  
  .home-venue-image-container {
    position: relative;
  }

  label, #sort, #order {
    padding: 8px;
    border-radius: 40px;
  }
  
  .home-venue-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .home-sorting-container {
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 10;
    margin-bottom: 20px;
    align-content: center;
    gap: 10px;
  }

  label{
    align-self: center;
  }
  
  .sorting-container select {
    padding: 5px 10px;
    font-size: 1rem;
    min-width: 150px;
    border-radius: 40px;
  }
  
  .home-venue-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); /* Responsive grid */
    gap: 40px; /* Spacing between cards */
    padding: 24px 64px; /* Padding around the grid */
    border: none;
    
  }
  
  .home-venue-card {
    cursor: pointer;
    text-decoration: none; /* Remove link decorations */
    border-radius: 40px;
  }
  
  .home-venue-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: none;
  }
  
  .home-venue-card-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
    color: black;
  }

  .home-venue-title-and-rating{
    display: flex;
    justify-content: space-between;
  }

  .fas.fa-star{
    color: black;
  }

  .home-rock{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fas.fa-star, .home-rock {
    color: #555555;
  }

  
  .venue-card h3, .home-venue-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: black;
  }

  .home-venue-price-wrapper{
    display: flex;

  }
  
  .venue-price {
    font-weight: bold;
    color: #000;
  }
  
  .venue-rating {
    color: #555;
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
    border: none;
  }

  .home-venue-amenities {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Spacing between icons */
    margin-top: 10px; /* Add spacing above */
    color: #555; /* Icon color */
    font-size: 1rem; /* Icon size */
  }
  
  .venue-amenities i {
    cursor: default;
  }
  .venue-amenities div {
    position: relative; /* Needed for tooltip positioning */
  }
  
  .venue-amenities div::after {
    content: attr(title); /* Use the title attribute as content */
    position: absolute;
    bottom: 100%; /* Position tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }
  
  .venue-amenities div:hover::after {
    opacity: 5; /* Show tooltip on hover */
  }
  
  
  
  
  
  
  
  